/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_corgis.scss : Corgi styles
////////////////////////////////////////////////////////////////////////////////
*/
body{
  background:  url(../svgs/background.svg),
               url(../svgs/background.svg),
               linear-gradient(to right, rgba(30, 75, 115, 1), rgba(17, 17, 17, 0.4));
  background-position: left, right;
  background-repeat:  repeat-y,  repeat-y;
}

.logo{
  @include e(text){
    fill: #EAAA7F;
    // for animating letters in logo
    @include m(paw-p){
    }
    @include m(paw-a){
    }
    @include m(paw-w){
    }
    @include m(print-p){
    }
    @include m(print-r){
    }
    @include m(print-i){
    }
    @include m(print-n){
    }
    @include m(print-t){
    }
    @include m(kennels-k){
    }
    @include m(kennels-e){
    }
    @include m(kennels-n){
    }
    @include m(kennels-n2){
    }
    @include m(kennels-e2){
    }
    @include m(kennels-l){
    }
    @include m(kennels-s){
    }
  }
  @include e(paw){
    fill: #F4C6A6;
    @include m(digital-pad-left){
    }
    @include m(digital-pad-right){
    }
    @include m(digital-pad-middle){
    }
    @include m(metacarpal){
    }
  }
}
