/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_corgi.scss : Corgi styles
////////////////////////////////////////////////////////////////////////////////
*/

.corgi{ @include fill-colors($corgi, '%buttons');}
.nose_and_eyes{fill:#2D3339;}
.brows{fill:#DA8058;}
.white{fill:#FBFEFF;}