/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_corgi.scss : Corgi styles
////////////////////////////////////////////////////////////////////////////////
*/

// base styles
#corgi {
  @include fill-colors($corgi, '%buttons');
  }

.nose_and_eyes{fill:#2D3339;}
.brows{fill:#DA8058;}
.white{fill:#FBFEFF;}

.corgi:hover {
  transform: scale(1.3) rotate(25deg);
}