/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_keyframes.scss : Keyframe styles
////////////////////////////////////////////////////////////////////////////////
*/

@keyframes fadeInScale {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.3);
  }
  80% { 
    transform: rotate(355deg) scale(0.9);
    fill: $scooter;
  }
  100% {
    transform: rotate(360deg) scale(1) translate(100px);
    opacity: 1;
    fill: red;
  }
}

@keyframes fadeInScaleMedium {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.3);
  }
  80% { 
    transform: rotate(355deg) scale(0.9);
    fill: $scooter;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    fill: red;
  }
}




// Logo keyframes
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-circle {
  100% {
    fill: #ba8058;
  }
}

@keyframes fill-paw {
  100% {
    fill: #F4C6A6;
  }
}

@keyframes fill-text {
  100% {
    fill: #EAAA7F;
  }
}

@keyframes threeSixy-y {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.5) rotate(25deg);
  }
  100% {
    stroke: transparent;
  }
}

@keyframes scaleUp{
  50% {
    transform: scale(1.4);
  }
}

@keyframes fadeOut {
  100% {
    stroke: transparent;
  }
}