/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_navigation.scss : Navigation styles
////////////////////////////////////////////////////////////////////////////////
*/

// Anchor style
a {
  fill: $scooter;
  color: $scooter;
  &:hover svg{
    animation: fadeInScale 1.5s .2s ease-in-out forwards;
    @include media-query(medium) {
      animation: fadeInScaleMedium 1.5s .2s ease-in-out forwards;
    }
  }
}

.text:hover{
  color: $color--primary;
  transform: scale(1.3) rotate(15deg);
  border-bottom: 1px solid $color--anchor;
}

// Keyframes

// Icon styles
.icon {
  @extend %navigation-menu--links;

  @include e(heart){
    opacity: 0;
    width: 28px;
    height: 24px;
  }

  @include e(location){
    opacity: 0;
    width: 24px;
    height: 24px;
  }

  @include e(contact){
    opacity: 0;
    width: 28px;
    height: 24px;
  }

  @include media-query(medium){
    display: inline;
    padding: em(5px);
  }
  
}
