/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_typography.scss : Font styles
////////////////////////////////////////////////////////////////////////////////
*/

body {
  color: $color--primary;
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  margin: 0;
  padding: 0 em(5px);
  perspective: em(700px);
}

// Main Container
#container {
  max-width: $max-width;
  background: $white;
  margin: 0 auto;
  height: 100%;
  border-radius: $border-radius--default;
  @include media-query(large) {
    font-size: em(18px);
  }
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  padding: em(5px);
  line-height: 2em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: $color--anchor;
  font-weight: 700;
}

main ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  li{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: em(5px);
  }
  span{
    padding-top: em(5px);
    color: $color--secondary;
  }
  @include media-query(medium){
    flex-direction: row;
    justify-content: space-around;
  }
}

main {
  padding-top: 50px;
  h2 {
    font-size: 28px;
  }
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: $color--footer-font;
}


